<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row" style="margin-right:15px;margin-left:15px">
				<div class="ibox">
					<div class="ibox-body">
						<div class="fixed-table-toolbar">
							<div class="columns pull-left">
								<button shiro:hasPermission="test:executePlan:list" type="button" id="executePlanList"
									class="btn  btn-primary">
									<i class="fa fa-plus hidden" aria-hidden="true"></i>列表
								</button>
								<button shiro:hasPermission="test:executePlan:add" type="button"
									class="btn  btn-primary" onclick="add()">
									<i class="fa fa-plus hidden" aria-hidden="true"></i>添加
								</button>
								<button shiro:hasPermission="test:executePlan:batchRemove" type="button"
									class="btn  btn-danger" onclick="batchRemove()">
									<i class="fa fa-trash hidden" aria-hidden="true"></i>删除
								</button>
							</div>
							<div class="columns pull-right">
								<button class="btn btn-success" onclick="reLoad()">查询</button>
							</div>

							<div class="columns pull-right col-md-2 nopadding">
								<input id="searchName" type="text" class="form-control"
									placeholder="测试任务名称">
							</div>
						</div>
						<table id="executePlanTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性-->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_active_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="test:executePlan:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="test:executePlan:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="test:executePlan:active">
			<script type="text/javascript">
				var s_active_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/executePlan/executePlan.js"></script>
</body>
</html>